<div id="<%= dom_id person %>">
  <p>
    <strong>Nick name:</strong>
    <%= person.nick_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Given name:</strong>
    <%= person.given_name %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>

</div>
